<%- include('../partials/header') %>

<table id="list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start</th>
            <th>Stop</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% routes.forEach(function(r) { %>
            <tr>
                <td><%= r.name %></td>
                <td><%= r.start %></td>
                <td><%= r.stop %></td>
                <td>
                <% if (user && user.email === 'fitzerisaac@gmail.com') { %>
                    <form action="/routes/<%= r.id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete Route</button>
                    </form>
                <% } %>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<%- include('../partials/footer') %>